<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles.css">


    <style>
        body {
            background: #E5E5E5;
        }
    </style>

</head>

<body>
<div class=e1_2>
    <div class="e1_13"></div>
    <span class="e1_3">환영합니다!</span>
    <span class="e1_4">변형균님</span>
    <span class="e1_8">“무엇을 해볼까요?”</span>
    <div class=e1_15>
        <div class="e1_9 mouse"></div>
        <span class="e1_14">QT</span>
    </div>
    <div class=e1_16>
        <a href="/offering">
            <div class="e1_17 mouse"></div>
            <span class="e1_18">기도</span>
        </a>
    </div>
    <div class=e1_19>
        <div class="e1_20 mouse"></div>
        <span class="e1_21">헌금 확인</span></div>
    <div class=e1_22>
        <div class="e1_23 mouse"></div>
        <span class="e1_24">소그룹실 예약</span></div>
    <div class=e3_26>
        <div class="e3_27 mouse"></div>
        <span class="e3_28">+</span></div>
    <span class="e3_25">copyright © SDA All rights reserved.</span></div>
</body>
</html>
